body{
    font-family: "Arial", sans-serif;
    color: #fff;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

span{
    color: #c1121f;
}

.topbar{
    width: 100%;
    padding: 1.2em 5em 1.2em 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: relative;
}

.menu{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    font-size: 1em;
    padding-right: 2em;
}

.hero{
    display: flex;
    align-items: center;
    background-image: url("../images/fond/fond_accueil.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 41em;
}

.hero div {
    padding-left: 7em;
    display: flex;
    flex-direction: column;
}

section:nth-child(2), section:nth-child(3){
    padding: 5em;
    text-align: center;
}

section:nth-child(2) span, section:nth-child(3) span{
    font-weight: 650;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}

section:nth-child(2) p, section:nth-child(3) p{
    margin-top: 0.1em;
    margin-bottom: 1.2em;
    font-size: 2.4em;
    font-weight: bold;
}

section:nth-child(2) div, section:nth-child(3) div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.95em;
}

section:nth-child(2) a, section:nth-child(3) a{
    background-size: 100%;
    width: 19em;
    height: 19em;
    background-repeat: no-repeat;
}

section:nth-child(2) a:hover, section:nth-child(3) a:hover{
    position: relative;
    top: -0.3em;
}

section:nth-child(2) a:nth-child(1){
    background-image: url("../images/catégories/demon_slayer.jpeg");
}

section:nth-child(2) a:nth-child(2){
    background-image: url("../images/catégories/one_piece.jpeg");
}

section:nth-child(2) a:nth-child(3){
    background-image: url("../images/catégories/bleach.jpeg");
}

section:nth-child(2) a:nth-child(4){
    background-image: url("../images/catégories/sword_art_online.jpeg");
}

section:nth-child(3) a:nth-child(1){
    background-image: url("../images/produits/kyojuro.jpg");
}

section:nth-child(3) a:nth-child(2){
    background-image: url("../images/produits/shusui.jpg");
}

section:nth-child(3) a:nth-child(3){
    background-image: url("../images/produits/zangetsu.jpg");
}

section:nth-child(3) a:nth-child(4){
    background-image: url("../images/produits/elucidator.jpg");
}

section:nth-child(2){
    background-color: #111111;
}

section:nth-child(3){
    background-color: #171717;
}

footer{
    background-color: #070707;
    text-align: center;
    padding: 2.2em;
}

footer p:nth-child(1){
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

footer p:nth-child(2){
    color: #7a7a7a;
}

h1{
    padding-top: 0.2em;
    font-size: 4.5em;
    line-height: 1em;
}

.hero a{
    margin-top: 1em;
    width: fit-content;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: #c1121f;
}

.hero a:hover{
    background-color: #b1101b;
}

.hero p:first-of-type{
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #c1121f;
}

.hero p:last-of-type{
    color: #ccc;
    width: 38em;
    padding: 1em 0;
}

nav label{
    display: none;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .menu{
        display: none;
    }

    nav label{
        display: flex;
    }

    #toggle:checked + .menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0.2em 1em;
        background: #111;
    }

    .topbar{
        padding-left: 1em;
        padding-right: 1em;
        justify-content: space-between;
    }
    .logo{
        font-size: 1em;
    }

    .hero{
        background-attachment: local;
        height: 15em;
    }
    .hero div{
        padding: 1em;
    }

    .hero p:nth-child(1){
        font-size: 0.5em;
    }

    h1{
        font-size: 1.5em;
    }

    .hero p:last-of-type{
        font-size: 0.5em;
        width: 25em;
    }

    .hero a{
        font-size: 0.3em;
    }

    section:nth-child(2), section:nth-child(3){
        padding: 2em 5em;
    }

    section:nth-child(2) span, section:nth-child(3) span{
        font-size: 0.7em;
    }

    section:nth-child(2) p, section:nth-child(3) p{
        font-size: 1.5em;
    }

    section:nth-child(2) a, section:nth-child(3) a{
        width: 15em;
        height: 15em;
    }

    section:nth-child(2) a:hover, section:nth-child(3) a:hover{
        top: 0;
    }
}